{% extends 'plataforma_base.html' %}



{% block title %}
Perfil
{% endblock title %}


{% block content %}
<div id="content" class="app-content">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">SIRAF</a></li>
        <li class="breadcrumb-item active">PERFIL</li>
    </ul>

    <h1 class="page-header">
        Olá <small> {{ user.perfil.name }} </small>
    </h1>

    <p>
        Seja bem vindo ao sistema SIRAFfff
    </p>

    <div class="row">
        <div class="col">
            <a href="{% url 'juridico:juridico' %}" class="card bg-gradient-red border-0 text-decoration-none">
                <div class="card-body d-flex align-items-center text-white">
                    <div class="flex-fill">
                        <div class="mb-1">Cadastrar Contrato</div>
                        <h2>109</h2>
                        <div>Contratos cadastradas</div>
                    </div>
                    <div class="opacity-5">
                        <i class="fa fa-university fa-4x"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="#" class="card bg-gradient-red border-0 text-decoration-none">
                <div class="card-body d-flex align-items-center text-white">
                    <div class="flex-fill">
                        <div class="mb-1">Itens do Contrato</div>
                        <h2>2089</h2>
                        <div>Itens cadastrados</div>
                    </div>
                    <div class="opacity-5">
                        <i class="fa fa-university fa-4x"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock content %}