<div class="gallery-menu-container">
    <div data-scrollbar="true" data-height="100%" data-skip-mobile="true">

        <div class="gallery-menu">
            <div class="gallery-menu-header">Contratos</div>
            {% for listar_contrato in listar_contratos %}
            <div class="gallery-menu-item">
                <a href="{% url 'juridico:item_contratos' listar_contrato.id %}" class="gallery-menu-link"><i
                        class="fa fa-fw fa-file me-1"></i>
                    {{ listar_contrato.company }}</a>

            </div>

            {% endfor %}

        </div>
    </div>
</div>