{% load static %}
<form class="menu-search" method="POST" name="header_search_form">
    <div class="menu-search-icon"><i class="fa fa-search"></i></div>
    <div class="menu-search-input">
        <input type="text" class="form-control" placeholder="Pesquisar..." />
    </div>
</form>
<div class="menu-item dropdown">
    <a href="#" data-bs-toggle="dropdown" data-bs-display="static" class="menu-link">
        <div class="menu-icon"><i class="fa fa-bell nav-icon"></i></div>
        <div class="menu-label">{{ qtd_notificacao }}</div>
    </a>
    <div class="dropdown-menu dropdown-menu-end dropdown-notification">
        <h6 class="dropdown-header text-gray-900 mb-1">Notificações</h6>

        {% for notificacao in notificacoes %}
        <a href="#" class="dropdown-notification-item">
            <div class="dropdown-notification-icon">

                {% if notificacao.alert == 'd' %}
                    <i class="fa fa-envelope fa-lg fa-fw text-danger"></i>
                {% elif notificacao.alert == 's' %}
                    <i class="fa fa-envelope fa-lg fa-fw text-success"></i>
                {% elif notificacao.alert == 'w' %}
                    <i class="fa fa-envelope fa-lg fa-fw text-warning"></i>
                {% endif %}


            </div>
            <div class="dropdown-notification-info">
                <div class="title">{{ notificacao.text }}</div>
                <div class="time">{{ notificacao.date }}</div>
            </div>
            <div class="dropdown-notification-arrow">
                <i class="fa fa-chevron-right"></i>
            </div>
        </a>
        {% endfor %}

        <div class="p-2 text-center mb-n1">
            <a href="{% url 'notificacoes:notificacoes' %}" class="text-gray-800 text-decoration-none">Todas</a>
        </div>
    </div>
</div>
<div class="menu-item dropdown">
    <a href="#" data-bs-toggle="dropdown" data-bs-display="static" class="menu-link">
        <!-- <div class="menu-img online">
            <img src="{% static 'plataforma/assets/img/user/user-10.jpg' %}" alt="" class="mw-100 mh-100 rounded-circle" />
        </div>-->
        <div class="menu-text">{{ user.perfil.email }}</div>
    </a>
    <div class="dropdown-menu dropdown-menu-end me-lg-3">
        <a class="dropdown-item d-flex align-items-center" href="#">Editar Perfil <i
                class="fa fa-user-circle fa-fw ms-auto text-gray-400 fs-16px"></i></a>

        <div class="dropdown-divider"></div>
        <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}">Sair <i
                class="fa fa-toggle-off fa-fw ms-auto text-gray-400 fs-16px"></i></a>
    </div>
</div>