<div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
    <!-- BEGIN menu -->
    <div class="menu">
        <div class="menu-header">Setores</div>
        <div class="menu-item">
            <a href="index.html" class="menu-link">
                <span class="menu-icon"><i class="fas fa-lg fa-fw me-2 fa-university"></i></span>
                <span class="menu-text">Juridico</span>
            </a>
        </div>
        <div class="menu-item">
            <a href="analytics.html" class="menu-link">
                <span class="menu-icon"><i class="far fa-lg fa-fw me-2 fa-money-bill-alt"></i></span>
                <span class="menu-text">Financeiro</span>
            </a>
        </div>
        <div class="menu-item">
            <a href="analytics.html" class="menu-link">
                <span class="menu-icon"><i class="fas fa-lg fa-fw me-2 fa-file-alt"></i></span>
                <span class="menu-text">Contrato</span>
            </a>
        </div>
        <div class="menu-item">
            <a href="analytics.html" class="menu-link">
                <span class="menu-icon"><i class="fas fa-lg fa-fw me-2 fa-users"></i></i></span>
                <span class="menu-text">Administrativo</span>
            </a>
        </div>
        <div class="menu-item">
            <a href="analytics.html" class="menu-link">
                <span class="menu-icon"><i class="fas fa-lg fa-fw me-2 fa-ticket-alt"></i></span>
                <span class="menu-text">Evento</span>
            </a>
        </div>
       








    </div>
    <!-- END menu -->
</div>