	<!-- BEGIN scrollbar -->
    <div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
        <!-- BEGIN menu -->
        <div class="menu">
            <div class="menu-header">Contrato</div>
            <div class="menu-item">
                <a href="{% url 'juridico:novo_contrato' %}" class="menu-link">
                    <span class="menu-icon"><i class="fa fa-file"></i></span>
                    <span class="menu-text">Novo Contrato</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="{% url 'juridico:listar_contratos' %}" class="menu-link">
                    <span class="menu-icon"><i class="fa fa-list"></i></span>
                    <span class="menu-text">Listar Contratos</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="{% url 'juridico:juridico' %}" class="menu-link">
                    <span class="menu-icon"><i class="fa fa-list"></i></span>
                    <span class="menu-text">Listar Item Contratos</span>
                </a>
            </div>
        
            <div class="menu-divider"></div>
            <div class="menu-header">Tipo</div>
            <div class="menu-item">
                <a href="{% url 'juridico:novo_tipo' %}" class="menu-link">
                    <span class="menu-icon"><i class="fa fa-file"></i></span>
                    <span class="menu-text">Tipo</span>
                </a>
            </div>
            <div class="menu-item">
                <a href="{% url 'juridico:listar_tipos' %}" class="menu-link">
                    <span class="menu-icon"><i class="fa fa-list"></i></span>
                    <span class="menu-text">Listar Tipos</span>
                </a>
            </div>
         
            
            <div class="p-3 px-4 mt-auto hide-on-minified">
                <a href="../../documentation/index.html" class="btn d-block btn-secondary font-weight-600 rounded-pill">
                    <i class="fa fa-code-branch me-1 ms-n1 opacity-5"></i> Tutorial
                </a>
            </div>
        </div>
        <!-- END menu -->
    </div>
    <!-- END scrollbar -->