{% extends 'plataforma_base_juridico.html' %}



{% block title %}
Juridicos
{% endblock title %}


{% block content %}
<div id="content" class="app-content">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="d-flex mb-3">
                            <div class="flex-grow-1">
                                <h5 class="mb-1">Valor Original</h5>
                            </div>
                            <a href="#" data-bs-toggle="dropdown" class="text-muted"><i class="fa fa-redo"></i></a>
                        </div>

                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <h3 class="mb-1">R$ {{ valor_contrato  | floatformat:"2g"}}</h3>

                            </div>
                            <div
                                class="width-50 height-50 bg-primary-transparent-2 rounded-circle d-flex align-items-center justify-content-center">
                                <i class="fa fa-money-bill-alt fa-lg text-primary"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="d-flex mb-3">
                            <div class="flex-grow-1">
                                <h5 class="mb-1">Valor com Aditivo</h5>
                            </div>
                            <a href="#" data-bs-toggle="dropdown" class="text-muted"><i class="fa fa-redo"></i></a>
                        </div>

                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <h3 class="mb-1">R$ {{ valor_aditivo.aditivo_value  | floatformat:"2g"}}</h3>

                            </div>
                            <div
                                class="width-50 height-50 bg-primary-transparent-2 rounded-circle d-flex align-items-center justify-content-center">
                                <i class="fa fa-money-bill-alt fa-lg text-primary"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="d-flex mb-3">
                            <div class="flex-grow-1">
                                <h5 class="mb-1">Diferença</h5>
                            </div>
                            <a href="#" data-bs-toggle="dropdown" class="text-muted"><i class="fa fa-redo"></i></a>
                        </div>

                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <h3 class="mb-1">R$ {{ diferenca  | floatformat:"2g"}}</h3>

                            </div>
                            <div
                                class="width-50 height-50 bg-primary-transparent-2 rounded-circle d-flex align-items-center justify-content-center">
                                <i class="fa fa-money-bill-alt fa-lg text-primary"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
{% endblock content %}