{% extends 'plataforma_base_juridico.html' %}



{% block title %}
Juridicoss
{% endblock title %}


{% block content %}
<div id="content" class="app-content">
    <br>
    {% include 'partials/plataforma/_message.html' %}
    <!-- BEGIN card -->
    <div class="card mb-3">
        <!-- BEGIN card-body -->
        <div class="card-body">
            <div class="d-flex mb-3">
                <div class="flex-grow-1">
                    <h5 class="mb-1">Contrato</h5>
                    <div>{{ contrato.company }}</div>
                </div>
                <a href="{% url 'juridico:dados_contrato' contrato.id %}" class="text-muted"><i class="fa fa-redo"></i></a>
            </div>

            <div class="d-flex">
                <div class="flex-grow-1">
                    <h3 class="mb-1">Total de itens: {{ total_item_id }}</h3>
                    <h3 class="mb-1">Valor Total: R$ {{ valor_contrato | floatformat:"2g" }}</h3>

                </div>
                <div
                    class="width-50 height-50 bg-primary-transparent-2 rounded-circle d-flex align-items-center justify-content-center">
                    <i class="fa fa-file-alt fa-lg text-primary"></i>
                </div>
            </div>
        </div>
        <!-- END card-body -->
    </div>
    <!-- END card -->
    <div class="card">
        <div class="card-header"><i class="fa fa-clock"></i></div>
        <div class="card-body">
            <h5 class="card-title">Aditivos de Prazo </h5>
            <h6 class="card-subtitle mb-3 text-muted">Aditivo de Prazo</h6>
            <p class="card-text mb-3">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Data da Assinatura</th>
                            <th scope="col">Vigência</th>
                            <th scope="col">Termino</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>


                        {% for aditivo_por_contrato in aditivo_por_contrato %}
                        <tr>
                            <td>{{ aditivo_por_contrato.signature_date }}</td>
                            <td>{{ aditivo_por_contrato.validity }}</td>
                            <td>{{ aditivo_por_contrato.end_validity }}</td>
                            <td>
                                <div class="btn-group btn-group-sm" role="group" aria-label="...">

                                    <a href="{% url 'juridico:deletar_aditivo_praso' aditivo_por_contrato.id %}"
                                        class="btn btn-danger"><i class="fa fa-trash-alt"></i></a>
                                </div>
                            </td>

                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
            </p>

        </div>
    </div>
    <hr>
    <div class="card">
        <div class="card-header"><i class="fa fa-money-bill-alt"></i></div>
        <div class="card-body">
            <h5 class="card-title">Aditivos de Valor </h5>
            <h6 class="card-subtitle mb-3 text-muted">Aditivo de Valor</h6>
            <p class="card-text mb-3">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Data da Assinatura</th>
                            <th scope="col">Vigência</th>
                            <th scope="col">Termino</th>
                            <th scope="col">Porcentagem</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Saldo</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>


                        {% for lista_aditivo_valor in lista_aditivo_valor %}
                        <tr>
                            <td class="align-middle">
                                <a href="{% url 'juridico:dados_aditivo_valor' lista_aditivo_valor.contract.id lista_aditivo_valor.id %}"
                                    class="btn btn-secondary"><i class="fa fa-plus"></i></a>
                            </td>
                            <td>{{ lista_aditivo_valor.signature_date }}</td>
                            <td>{{ lista_aditivo_valor.validity }}</td>
                            <td>{{ lista_aditivo_valor.end_validity }}</td>
                            <td>{{ lista_aditivo_valor.percentage }} %</td>
                            <td>{{ lista_aditivo_valor.aditivo_value | floatformat:"2g" }}</td>
                            <td>{{ lista_aditivo_valor.difference | floatformat:"2g" }}</td>
                            <td>
                                <div class="btn-group btn-group-sm" role="group" aria-label="...">

                                    <a href="{% url 'juridico:deletar_aditivo_valor' lista_aditivo_valor.id %}" class="btn btn-danger"><i class="fa fa-trash-alt"></i></a>
                                </div>
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            </p>
        </div>


    </div>
   
    <hr>
  
    <div class="card">
        <div class="card-header"><i class="fa fa-list"></i></div>
        <div class="card-body">
            <h5 class="card-title">Itens do Contrato </h5>
            <h6 class="card-subtitle mb-3 text-muted">Total de itens do contrato {{ total_item_id }}</h6>
            <p class="card-text mb-3">
            <div class="table-responsive">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Item</th>
                                <th scope="col">Descrição</th>
                                <th scope="col">Preço Unitário</th>
                                <th scope="col">Quantidade</th>
                                <th scope="col">Valor Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for listar_item_id in listar_item_id %}
                            <tr>
                                <th>{{ listar_item_id.item }}</th>
                                <td>{{ listar_item_id.item_description }}</td>
                                <td>R$ {{ listar_item_id.unit_price | floatformat:"2g" }}</td>
                                <td>R$ {{ listar_item_id.amount | floatformat:"2g" }}</td>
                                <del></del>
                                <td class="">

                                    {% if listar_item_id.remove_sum == True %}
                                    <span
                                        class="badge bg-danger-transparent-3 text-black-transparent-5 px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center">
                                        <i class="fa fa-circle fs-9px fa-fw me-5px text-danger-transparent-8"></i><del>R$
                                            {{ listar_item_id.sum_value | floatformat:"2g" }} </del>: Excluido
                                    </span>
                                    {% elif listar_item_id.pos_aditivo_value == True %}
                                    <span
                                        class="badge bg-success-transparent-3 text-black-transparent-5 px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center">
                                        <i class="fa fa-circle fs-9px fa-fw me-5px text-success-transparent-8"></i>R$
                                        {{ listar_item_id.sum_value | floatformat:"2g" }} : Aditivo de Valor
                                    </span>
                                    {% else %}
                                    {{ listar_item_id.sum_value | floatformat:"2g" }}
                                    {% endif %}

                                </td>
                            </tr>
                            {% empty %}
                            <li>Ainda não foram adcionados itens a esse contrato</li>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            </p>

        </div>
    </div>
   
</div>
{% endblock content %}