{% extends 'plataforma_base_juridico.html' %}
{% load static %}



{% block title %}
Notificações
{% endblock title %}


{% block content %}
<div id="app" class="app app-content-full-height">
    <div id="content" class="app-content p-0">
        <div class="d-block d-md-flex align-items-stretch h-100">
            {% include 'partials/plataforma/juridico/_gallery_menu_container.html' %}
            <div class="gallery-content-container">   
                <p class="h1 text-center">Selecione um contrato</p>
            </div>
        </div>
    </div>
    {% endblock content %}