{% extends 'plataforma_base.html' %}



{% block title %}
Notificações
{% endblock title %}


{% block content %}
<div id="app" class="app app-content-full-height">
    <!-- BEGIN #content -->
    <div id="content" class="app-content p-0">
        <!-- BEGIN d-flex -->
        <div class="d-block d-md-flex align-items-stretch h-100">
            <!-- BEGIN gallery-menu-container -->
            <div class="gallery-menu-container">
                <!-- BEGIN scrollbar -->
                <div data-scrollbar="true" data-height="100%" data-skip-mobile="true">
                    <!-- BEGIN gallery-menu -->
                    <div class="gallery-menu">
                        <div class="mailbox-toolbar-item"><a href="{% url 'juridico:novo_contrato' %}"
                            class="mailbox-toolbar-link text-primary bg-blue-transparent-1">Novo Cossntrato <i
                                class="fa fa-pen fs-12px ms-1"></i></a></div>
                        <div class="gallery-menu-header">Contratos</div>

                        {% for listar_contrato in listar_contratos %}
                        <div class="gallery-menu-item"><a href="{% url 'juridico:item_contratos' listar_contrato.id %}" class="gallery-menu-link"><i
                                    class="fa fa-fw fa-file me-1"></i> {{ listar_contrato.number }}</a></div>
                        {% endfor %}

                    </div>
                    <!-- END gallery-menu -->
                </div>
                <!-- end scrollbar -->
            </div>
            <!-- END gallery-menu-container -->
            <!-- BEGIN gallery-content-container -->
            <div class="gallery-content-container">
                <!-- BEGIN scrollbar -->
                <div data-scrollbar="true" data-height="100%">
                    <!-- BEGIN gallery-content -->
                    <div class="gallery-content">




                        <!-- BEGIN gallery -->
                        <div class="gallery">
                            <!-- BEGIN gallery-header -->
                            <div class="d-flex align-items-center mb-3">
                                <!-- BEGIN gallery-title -->
                                <div class="gallery-title mb-0">
                                    <a href="#">
                                        Random <i class="fa fa-chevron-right"></i>
                                        <small>May 1, 2021</small>
                                    </a>
                                </div>
                                <!-- END gallery-title -->

                                <!-- BEGIN btn-group -->
                                <div class="ms-auto btn-group">
                                    <a href="#" class="btn btn-default btn-sm"><i class="fa fa-play"></i></a>
                                    <a href="#" class="btn btn-default btn-sm"><i class="fa fa-plus"></i></a>
                                    <a href="#" class="btn btn-default btn-sm"><i class="fa fa-upload"></i></a>
                                </div>
                                <!-- END btn-group -->
                            </div>
                            <!-- END gallery-header -->

                            <!-- BEGIN gallery-image -->
                            <div class="gallery-image">
                                <ul class="gallery-image-list">
                                    <li><a href="assets/img/gallery/gallery-5.jpg" itemprop="contentUrl"
                                            data-size="752x500"><img src="assets/img/gallery/gallery-5.jpg"
                                                itemprop="thumbnail" alt="Random Image 1" class="img-portrait" /></a>
                                    </li>

                                </ul>
                            </div>
                            <!-- END gallery-image -->
                        </div>
                        <!-- END gallery -->
                    </div>
                    <!-- END gallery-content -->
                </div>
                <!-- END scrollbar -->
            </div>
            <!-- END gallery-content-container -->
        </div>
        <!-- END d-flex -->
    </div>
    <!-- END #content -->
</div>
{% endblock content %}