{% extends 'plataforma_base_juridico.html' %}
{% load filters %}



{% block title %}
Juridico
{% endblock title %}


{% block content %}
<div id="content" class="app-content">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'juridico:juridico' %}">Inicio</a></li>
        <li class="breadcrumb-item active">Relação de Contratos</li>
    </ul>
    <div class="card">
        <div class="card-header"><i class="fa fa-list"></i></div>
        <div class="card-body">
            <h5 class="card-title">Relação</h5>
            <h6 class="card-subtitle mb-3 text-muted">Contratos</h6>
            <p class="card-text mb-3">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Data do Cadastro</th>
                            <th scope="col">Empresa</th>
                            <th scope="col">Data da Assinatura</th>
                            <th scope="col">Vigência | Mês</th>
                            <th scope="col">Termino</th>
                            <th scope="col">Número</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Responsavel</th>
                            <th scope="col">Aditivo de Prazo</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>


                        {% for listar_contrato in listar_contratos %}
                        <tr>
                            <td>
                                <a href="{% url 'juridico:dados_contrato' listar_contrato.id %}"
                                    class="btn btn-secondary"><i class="fa fa-eye"></i></a>
                            </td>
                            <td>{{ listar_contrato.date }}</td>
                            <td>{{ listar_contrato.company }}</td>
                            <td>{{ listar_contrato.signature_date }}</td>
                            <td>{{ listar_contrato.validity }}</td>
                            <td>{{ listar_contrato.end_validity }}</td>
                            <td>{{ listar_contrato.number }}</td>
                            <td>{{ listar_contrato.type_contrato.name }}</td>
                            <td>{{ listar_contrato.responsible }}</td>
                            <td>
                                <span class="badge bg-info">{{ listar_contrato.id | verificar_aditivo_prazo }}</span>
                                
                                    
                            </td>
                            <td>
                                <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                    <a href="{% url 'juridico:editar_contrato' listar_contrato.id %}"
                                        class="btn btn-warning"><i class="fa fa-edit"></i></a>
                                    <a href="{% url 'juridico:deletar_contrato' listar_contrato.id %}"
                                        class="btn btn-danger"><i class="fa fa-trash-alt"></i></a>
                                    <a href="{% url 'juridico:novo_aditivo_prazo' listar_contrato.id %}"
                                        class="btn btn-secondary"><i class="fa fa-clock"></i></a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
            </p>
           
        </div>
    </div>

</div>
{% endblock content %}