{% extends 'plataforma_base_juridico.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %}
Contratos
{% endblock title %}


{% block content %}
<div id="content" class="app-content">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'juridico:juridico' %}">Inicio</a></li>
        <li class="breadcrumb-item active">Cadastro de Tipo</li>
    </ul>
    <div class="card">
        <div class="card-header">Formulário</div>
        <div class="card-body">
            <h5 class="card-title">Formulário</h5>
            <h6 class="card-subtitle mb-3 text-muted">Cadastro de Tipo de Contrato</h6>
            {% include 'partials/plataforma/_message.html' %}
            <p class="card-text mb-3">
            <form action="" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm">
                        <label for="exampleFormControlInput1" class="form-label">Nome:</label>
                        {{ form.name | add_class:"form-control" }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <label for="exampleFormControlInput1" class="form-label">Descrição:</label>
                        {{ form.description | add_class:"form-control" }}
                    </div>
                </div>
                <hr>
                <button type="submit" class="btn btn-primary">Salvar</button>
                <hr>
            </form>
            </p>
            
        </div>
    </div>
</div>

{% endblock content %}